* {
  border-radius: 0 !important;
}
#homebtn {
    color: #99ccff;
    background-color: #006600;

}
#right { 
    margin-right: 200 px;
    text-align: right;
    font-size: 200%;
    }
/*
.btn-secondary {
    background-color: #55ADFF;

}*/
#rbtn{
  color: #00cc99;
  background-color: #55ADFF;
  /*border-color: #ccc;*/
}