* {
  border-radius: 0 !important;
}
#homebtn {
    color: #99ccff;
    background-color: gray;

}
#right { 
    margin-right: 200 px;
    text-align: right;
    font-size: 200%;
    float: right;
    }
/*
.btn-secondary {
    background-color: #55ADFF;

}*/
#rbtn{
  color: white;
  background-color: #55ADFF;
  /*border-color: #ccc;*/
}